<a href="https://colab.research.google.com/github/Cstan1987stat/health-survey-cluster-analysis/blob/main/data_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Loading in the adult22 csv file.
df <- read.csv("https://raw.githubusercontent.com/Cstan1987stat/health-survey-cluster-analysis/refs/heads/main/adult22_filtered.csv")

# Extracting the number of rows from df
rows <- dim(df)[1]
# Extracting the number of columnbs from df
columns <- dim(df)[2]
# Outputing the number of rows and columns
cat('There are', rows,'rows and', columns,'columns in the data.')

There are 20361 rows and 14 columns in the data.

In [7]:
# Renaming all the columns
names(df)[1] <- 'Age'
names(df)[2] <- 'Sex'
names(df)[3] <- 'Cancer'
names(df)[4] <- 'Coronary_heart_disease'
names(df)[5] <- 'Depression'
names(df)[6] <- 'Smoked_100_cig'
names(df)[7] <- 'Education'
names(df)[8] <- 'Region'
names(df)[9] <- 'Anxiety'
names(df)[10] <- 'Height'
names(df)[11] <- 'Weight'
names(df)[12] <- 'Sleep_hours'
names(df)[13] <- 'Aerobic/Strength'
names(df)[14] <- 'Alcohol_drink_12m'

Although all columns are numerical types, not all are truly numerical in nature. Some represent continuous numerical values, while others encode categorical information.

* Truly numerical variables (where higher values have meaningful mathematical differences):

 - Age, Height, Weight, Sleep_hours, Alcohol_drink_12m

Categorical variables (which can be further divided into nominal and ordinal):

* Nominal (no inherent ordering):

 - Sex, Cancer, Coronary_heart_disease, Depression, Smoked_100_cig, Region, Aerobic/Strength
 - Note: While Aerobic/Strength might appear ordered, a model would interpret meeting aerobic guidelines as "greater" than meeting strength guidelines, making it nominal.

* Ordinal (inherent order exists):
 - Education (ranges from "some high school" to "graduate school")
 - Anxiety (ranges from "daily" to "never")

In [8]:
# Calculating how many missing values there are.
sum(is.na(df))

[1] 0

No missing values

In [9]:
# Printing the first 6 rows of df
print(head(df))

  Age Sex Cancer Coronary_heart_disease Depression Smoked_100_cig Education
1  64   1      1                      1          2              1         8
2  37   2      2                      2          2              2         8
3  72   2      2                      2          2              2         5
4  84   2      2                      2          2              2         6
5  31   2      2                      2          2              1         8
6  81   2      1                      2          2              2         4
  Region Anxiety Height Weight Sleep_hours Aerobic/Strength Alcohol_drink_12m
1      3       4     74    235           8                3               108
2      3       3     69    218           9                3                 0
3      3       5     64    240           8                1                12
4      3       4     66    183           8                1                52
5      3       3     69    156           8                4                52
6      3       4     68    170           5                1                 0